@model IEnumerable<Webpro.Models.TblVehicleNumber>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyVehicleNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverNameOptional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeightCapacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyVehicleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverNameOptional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightCapacity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
