@model Webpro.Models.Tblpartynamelist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tblpartynamelist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GstCustomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GstCustomer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transcharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transcharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Partyname">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
